<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/table/bootstrap.min.css">
    <script src="/table/jquery.min.js"></script>
    <script src="/table/bootstrap.min.js"></script>

</head>
<body>
<form action="/commodity/addCommodity" id="add_commodity_form" method="post" enctype="multipart/form-data">
    <div class="form-group" style="width:99%">
        <input id="add_bachPic" name="commoPicArr" type="file" multiple class="file-loading">
    </div>
    <input onclick="addCommodity()" type="submit" value="提交">

</form>
<script>
    var commId;

    function addCommodity() {

        if ($('#add_bachPic').fileinput("getFilesCount") <= 0) {          //获取文件个数
            alert(1, "请至少上传一张详情图片!");
            return;
        }
        $("#add_commodity_form").attr('action', '/knowledge/updateKnowledge');
        $("#add_commodity_form").ajaxSubmit({
            success: function (data) {
                var result = $.parseJSON(data);
                if (result.resultCode == 0) {
                    var id = result.result;	                //先保存基本数据，返回数据库id
                    commId = id;                            //保存id值
                    $('#add_bachPic').fileinput('upload');        //然后触发插件开始上传文件
                }
            }
        });
    }

    //初始化文件上传插件
    function initFileUpload(prefix) {
        $("#add_bachPic").fileinput({
            language: 'zh',                                 //中文
            uploadUrl: '/knowledge/updateKnowledge',
            showPreview: true,				//展前预览
            showUpload: false,				//不显示上传按钮
            showCaption: false,				//不显示文字表述
            uploadAsync: false,                             //采用同步上传
            removeFromPreviewOnError: true,                 //当文件不符合规则，就不显示预览
            maxFileCount: 5,
            maxFileSize: 1024 * 10,                          //单位为kb，如果为0表示不限制文件大小
            allowedFileExtensions: ["jpg", "jpeg", "gif", "png", "bmp"],
            uploadExtraData: function (previewId, index) {   //额外参数 返回json数组
                return {
                    'id': commId
                };
            }
        }).on("filebatchuploadsuccess", function (event, data) {	//当上传成功回调函数
            var response = data.response;
            if (response.resultCode == '0') {
                $("#closedAddWin").click();
                table.ajax.reload();
            }
        });
    }
</script>
</body>
</html>