<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/table/bootstrap.min.css">
    <link rel="stylesheet" href="../static/table/bootstrap-table.css">
    <script src="../static/table/jquery.min.js"></script>
    <script src="../static/table/bootstrap.min.js"></script>
    <script src="../static/table/bootstrap-table.js"></script>
    <script src="../static/table/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>

</body>
</html>